* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7d8892;
}

.team {
    padding: 50px 0;
}

.col-lg-6 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 250px;
    height: 360px;
    border-radius: 8px;
    margin-right: 20px;
}


.teampic {
    img {
        object-fit: cover;
        height: 80px;
        width: 80px;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.member-info {
    margin-top: 20px;
    margin-left: 20px;
    // padding: 10px;
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 20px;
    }
}

.email {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    margin-top: -6px;
    padding: 0 10px;
    
    i {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 16px;
        color: #007bff;
        text-decoration: underline;
    }
}

hr {
    width: 100%;
}

.content_phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -6px;
    padding: 0 10px;
    h5 {
        font-size: 16px;
    }

    i {
        font-size: 16px;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .links_add {
        display: flex;
        gap: 10px;

        a {
            height: 30px;
            width: 30px;
            background: #72D5C0;
            i {
                font-size: 16px;
            }
        }
    }

    .edit {
        button {
            &:nth-child(1) {
                background: #0069d9;
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .col-lg-6 {
        width: 100%;
        margin-right: 0;
    }

    .member-info {
        h1 {
            font-size: 20px;
        }

        h4 {
            font-size: 16px;
        }
    }

    .email {
        h2 {
            font-size: 14px;
        }

        h3 {
            font-size: 14px;
        }
    }

    .content_phone {
        h5 {
            font-size: 18px;
        }
    }
}